body {
  margin: 0;
   background:
    radial-gradient(circle at 15% 0%, #292047 0%, transparent 40%),
    radial-gradient(circle at 90% 0%, #0b3438 0%, transparent 40%),
    #080914;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}

